/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle b => 1976d2 9C27B0*/
::-webkit-scrollbar-thumb {
  background: #1989de;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
